<!-- <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{question}}</h5>
        <form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
            <div class="form-check form-check" *ngFor="let response of possibleResponses; index as i;">
                <input class="form-check-input" type="radio" formControlName="answer" id="inlineRadio{{i}}"
                    value="{{i}}" />
                <label class="form-check-label" for="inlineRadio{{i}}">{{response}}</label>
                <br>
            </div>
            <br>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Voter
                </button>
                <a routerLink="/survey/list" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div> -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{question}}</h5>
        <form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
            <mat-radio-group class="form-check form-check" formControlName="answer">
                <div class="form-check form-check" *ngFor="let response of possibleResponses; index as i;">
                    <mat-radio-button [checked] ="i === citizenAnswer" id="inlineRadio{{i}}" value="{{i}}"></mat-radio-button>
                    <label class="form-check-label" for="inlineRadio{{i}}">{{response}}</label>
                    <br>
                </div>
            </mat-radio-group>
            <br>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Voter
                </button>
                <a routerLink="/survey/list" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>