<div class="card">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h5 class="card-title">Titre du sondage</h5>
        <p class="card-text">description</p>
        <a href="#" class="btn btn-primary">Voter</a>
    </div>
</div>
<div class="card">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h5 class="card-title">Titre du sondage</h5>
        <p class="card-text">description</p>
        <a href="#" class="btn btn-primary">Voter</a>
    </div>
</div>
<div class="card">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h5 class="card-title">Titre du sondage</h5>
        <p class="card-text">description</p>
        <a href="#" class="btn btn-primary">Voter</a>
    </div>
</div>