<div class="row">
    <div class="container"></div>
    <div class="card">
        <div class="card-header">
            <h3>Liste des propositions :</h3>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <th>Titre</th>
                    <th> Description</th>
                    <th>Edition</th>
                    <th>Suppression</th>
                </thead>

                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>


            </table>


        </div>
    </div>
</div>