<div class="row">
    <div class="container"></div>
    <div class="card">
        <div class="card-title"><button class="btn btn-info" (click)="goToAdd()">Ajouter</button></div>
        <div class="card-header">
            <h3>Liste des propositions :</h3>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Createur</th>
                        <th>Edition</th>
                        <th>Suppression</th>
                    </tr>
                </thead>

                <tr *ngFor="let proposal of proposals">
                    <td>{{proposal.proposalId}}</td>
                    <td>{{proposal.title}}</td>
                    <td>{{proposal.description}}</td>
                    <td>{{proposal.proposalCreator.login}}</td>
                    <td><input type="submit" class="btn btn-outline-primary" value="Edit"
                            (click)="edit(proposal.proposalId)"></td>
                    <td><input type="submit" class="btn btn-outline-primary" value="Supprimer"
                            (click)="delete(proposal.proposalId)"></td>
                </tr>


            </table>


        </div>
    </div>
</div>