<header>
    <div class="card">
      <div class="card-header" style="text-align: center; background-color: grey;">
        <!-- <h2>GOUV & MOI</h2><br> -->
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="assets/images/logo_projet.png">
          </a>
        </div>
      </div>
  
      <div class="card-body" style="text-align: center; background-color: lightgrey; border-block-color: black;">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Nom de l'utilisateur</button>
          <button type="button" class="btn btn-secondary">Se déconnecter</button>
        </div>
      </div>
    </div>
  </header>
  
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
            <!-- style="background-color: lightgrey;" -->
          <!-- <div class="col-1"> -->
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
              aria-controls="v-pills-home" aria-selected="true">Propositions</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
              aria-controls="v-pills-profile" aria-selected="false">Sondages</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
              aria-controls="v-pills-messages" aria-selected="false">Données financières</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-settings" aria-selected="false">Paramètres du compte</a>
          </div>
        </div>
        <div class="col-lg">
          <router-outlet></router-outlet>
        </div>
        <div class="col">
  
        </div>
      </div>
    </div>
  </body>
